<%- include('partials/head') %> 
<%- include('partials/navbar') %>
    <div class="container">
    <h1>Home Page <%=4+5+1%>
            <%="hello world".toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat quos debitis, ex animi
        quidem incidunt, labore expedita est magni impedit hic ipsam iusto voluptatibus, quis
        nisi amet unde atque ab! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Perferendis vero aliquam quasi eaque sit reprehenderit eius dolor cupiditate culpa
        praesentium, deserunt laboriosam quae. Iure itaque eveniet molestiae suscipit ducimus
        nam?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat quos debitis, ex animi
        quidem incidunt, labore expedita est magni impedit hic ipsam iusto voluptatibus, quis
        nisi amet unde atque ab!</p>
</div>
<%- include('partials/footer') %> 